*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(8, 8, 44, 0.7)),url(block.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-decoration: solid;
}
.nav-links ul li a{
    color: aqua;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 3px;
    background: rgb(13, 243, 13);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 47.0px
}
.textbox{
    width: 99%;
    color: rgb(77, 206, 85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.textbox h1{
    font-size: 38px;
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: rgb(237, 245, 245);

}
.herobtn{
    display: inline-block;
    text-decoration: none;
    color: rgb(248, 246, 251);
    border: 2px solid white;
    padding: 15px 32px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}  
.herobtn:hover{
    border: 1px solid rgb(12, 241, 35);
    background: rgb(9, 244, 122);
    transition: 1s;
    
}
nav .fa{

    display: none;
}


@media(max-width: 700px){
    .textbox h1{
        font-size: 18px;  
    }
    .textbox p{
        margin: 10px 0 40px;
        font-size: 17px;
        color: rgb(237, 245, 245);
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: linear-gradient(to right,rgb(20, 230, 9), purple);
        height: 100vh;
        width: 220px;
        top: 0;
        right: 100%;
        text-align: left;
        z-index: 2;
        transform: 3s;
    }
    .nav-links ul li a{
        color: rgb(115, 245, 245);
        text-decoration: none;
        font-size: 14px
        text-align: center;
    }
   
    .nav-links ul{
        padding: 90px;
  
    }
    .nav-links ul li a{
      color: aqua;
        text-decoration: none;
        font-size: 16px;
        align-content: center;
        text-shadow: 3px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    nav .fa {
        background-image: url(mee.png);
        font-size: 20px;
        size: 12px;
       

    }
    nav .fa{
        display: inline-block;
        color: rgb(228, 25, 123);
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
        align-content: flex-end;
    }
    

}


/*----- profile -----*/
.profile{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;


}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 31%;
    background-color: rgba(15, 238, 75, 0.529);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 12px 12px;
    box-sizing: border-box;
    transform: 0.3s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 30px 0 rgb(46, 11, 224);

}

@media(max-width: 700px){
.row{
    flex-direction: column;

}
}
 
/*----- campus ----*/

.campus{
    width: 80%  ;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(7, 238, 19, 0.35);

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: rgb(220, 248, 248);
    font-size: 18px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------- Facilities -------*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
    text-align: center;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/*------- Admin --------*/
 .admin{
     width: 80%;
     margin: auto;
     padding-top: 100px;
     text-align: center;
     
    }
 .admin-col{
     flex-basis: 44%;
     border-radius: 10px;
     margin-bottom: 5%;
     text-align: left;  
     background: linear-gradient(to right,rgb(52, 224, 52), rgb(78, 131, 245));
     padding: 25px;
     cursor: pointer;
     display: flex;
     color: rgb(247, 248, 250);
 }
 .admin-col img{
     height: 250px;
     margin-left: 5px;
     margin-right: 30px;  
     border-radius: 50%;
 }
 @media(max-width: 900px){
    .admin-col{
        font-size: 14px;
        text-align: center;
    }
    .admin-col img{
        height: 120px;
    }
    .admin-col h3{
        font-size: 12px;
    }
    
 }

 
 /*------ call to action ------*/
 .cta{
     margin: 100px auto;
     width: 80%;
     background-image: linear-gradient(rgba(22, 235, 61, 0.7),rgba(4,9,30,0.7)),url(mulumba.JPG);
     background-position: center;
     background-size: cover;
     border-radius: 10px;
     text-align: center;
     padding: 100px 0;
 }
 .cta h1{
     color: rgb(30, 18, 250);
     margin-bottom: 40px;
     padding: 0;
     
 }
 @media(max-width: 700px){
    .cta h1{
        font-size: 18px;
    }

 }

  /*------ Footer ------*/
  .footer{
      width: 100%;
      text-align: center;
      padding: 30px 0;
  }
  .footer h4{
      margin-bottom: 25px;
      margin-top: 20px;
      font-weight: 600;
      color: rgb(14, 239, 55);

  }
  .footer p{
      color: rgb(12, 36, 246);
  }

  @media(max-width: 700px){
    .footer p{
        font-size: 13px;
    }

  }